<div class="column-one">
    <label class="label">地理区划：</label>

    <span class="simulate-select" style="width: 160px;"> <span class="text" style="width: 140px;">--请选择所在的省份--</span><i
            class="icon-grid icon-grid-fold-gray" style="position: absolute; top: 1px; left: 140px;"></i><select
            name="provinceCode" style="display: none;"><option value="">--请选择所在的省份--</option><option
            value="dsa">阿达</option><option value="650000">新疆</option><option value="640000">宁夏</option><option
            value="630000">青海</option><option value="620000">甘肃</option><option value="610000">陕西</option><option
            value="540000">西藏</option><option value="530000">云南</option><option value="520000">贵州</option><option
            value="510000">四川</option><option value="500000">重庆</option><option value="460000">海南</option><option
            value="450000">广西</option><option value="440000">广东</option><option value="430000">湖南</option><option
            value="420000">湖北</option><option value="410000">河南</option><option value="370000">山东</option><option
            value="360000">江西</option><option value="350001">浙江</option><option value="350000">福建</option><option
            value="340000">安徽</option><option value="330000">浙江</option><option value="32000011">江苏</option><option
            value="310000">上海</option><option value="230000">黑龙江</option><option value="220000">吉林</option><option
            value="210000">辽宁</option><option value="150000">内蒙古</option><option value="140000">山西</option><option
            value="130000">河北</option><option value="120000">天津</option><option value="110000">北京</option></select><ul
            class="simulate-select-lists" style="width: 159px; display: none;"><li class="simulate-select-list"
                                                                                   value="">--请选择所在的省份--</li><li
            value="dsa" class="simulate-select-list">阿达</li><li value="650000" class="simulate-select-list">新疆</li><li
            value="640000" class="simulate-select-list">宁夏</li><li value="630000" class="simulate-select-list">青海</li><li
            value="620000" class="simulate-select-list">甘肃</li><li value="610000" class="simulate-select-list">陕西</li><li
            value="540000" class="simulate-select-list">西藏</li><li value="530000" class="simulate-select-list">云南</li><li
            value="520000" class="simulate-select-list">贵州</li><li value="510000" class="simulate-select-list">四川</li><li
            value="500000" class="simulate-select-list">重庆</li><li value="460000" class="simulate-select-list">海南</li><li
            value="450000" class="simulate-select-list">广西</li><li value="440000" class="simulate-select-list">广东</li><li
            value="430000" class="simulate-select-list">湖南</li><li value="420000" class="simulate-select-list">湖北</li><li
            value="410000" class="simulate-select-list">河南</li><li value="370000" class="simulate-select-list">山东</li><li
            value="360000" class="simulate-select-list">江西</li><li value="350001" class="simulate-select-list">浙江</li><li
            value="350000" class="simulate-select-list">福建</li><li value="340000" class="simulate-select-list">安徽</li><li
            value="330000" class="simulate-select-list">浙江</li><li value="32000011" class="simulate-select-list">江苏</li><li
            value="310000" class="simulate-select-list">上海</li><li value="230000" class="simulate-select-list">黑龙江</li><li
            value="220000" class="simulate-select-list">吉林</li><li value="210000" class="simulate-select-list">辽宁</li><li
            value="150000" class="simulate-select-list">内蒙古</li><li value="140000" class="simulate-select-list">山西</li><li
            value="130000" class="simulate-select-list">河北</li><li value="120000" class="simulate-select-list">天津</li><li
            value="110000" class="simulate-select-list">北京</li></ul></span>


    <span class="simulate-select" style="width: 160px;"> <span class="text" style="width: 140px;">--请选择所在的市--</span><i
            class="icon-grid icon-grid-fold-gray" style="position: absolute; top: 1px; left: 140px;"></i><select
            name="cityCode" style="display: none;"><option value="">--请选择所在的市--</option></select><ul
            class="simulate-select-lists" style="width: 159px; display: none;"><li class="simulate-select-list"
                                                                                   value="">--请选择所在的市--</li></ul></span>

    <span class="simulate-select" style="width: 160px;"> <span class="text" style="width: 140px;">--请选择所在的区县--</span><i
            class="icon-grid icon-grid-fold-gray" style="position: absolute; top: 1px; left: 140px;"></i><select
            name="countyCode" style="display: none;"><option value="">--请选择所在的区县--</option></select><ul
            class="simulate-select-lists" style="width: 159px; display: none;"><li class="simulate-select-list"
                                                                                   value="">--请选择所在的区县--</li></ul></span>

    <span class="simulate-select" style="width: 160px;"> <span class="text" style="width: 140px;">--请选择所在的乡、镇--</span><i
            class="icon-grid icon-grid-fold-gray" style="position: absolute; top: 1px; left: 140px;"></i><select
            name="streetCode" style="display: none;"><option value="">--请选择所在的乡、镇--</option></select><ul
            class="simulate-select-lists" style="width: 159px; display: none;"><li class="simulate-select-list"
                                                                                   value="">--请选择所在的乡、镇--</li></ul></span>


    <span class="simulate-select" style="width: 180px;"> <span class="text" style="width: 160px;">--请选择所在的街道--</span><i
            class="icon-grid icon-grid-fold-gray" style="position: absolute; top: 1px; left: 160px;"></i><select
            name="neighborhoodCode" style="display: none;"><option value="">--请选择所在的街道--</option></select><ul
            class="simulate-select-lists" style="width: 179px; display: none;"><li class="simulate-select-list"
                                                                                   value="">--请选择所在的街道--</li></ul></span>

</div>