<p class="column-one">
    <label class="label" for="beginTime">操作时间：</label>
    <span class="text-line-outer" style="width: 138px;">
                    <input edittype="date" type="text" name="strBeginTime" class="text"
                           id="beginTime" groupname="timeGroup" compare="small" comparemsg="操作开始时间不能大于操作结束时间！"/>
                    </span>
    至
    <span class="text-line-outer" style="width: 138px;">
                    <input edittype="date" type="text" name="strEndTime" class="text"
                           groupname="timeGroup" compare="big" comparemsg="操作结束时间不能小于操作开始时间！"/>
                    </span>
</p>